
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');



.nav-bg{
    background-color: #484349;
    color: #f7f0f0;
    height: 10vh;
}

#menulist li a {
    color: #f7f0f0;
}

#menulist li a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    
}


.home-image-section2 {
    height: 90vh;
    width: 100%;
  
}

#homerow {
    position: relative;
}

#hover-text-div{
    height: 90vh;
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
    background-color: rgba(0, 0, 0, 0.3);
}

#hover-text {
    padding-left: 4%;
    padding-top: 5%;
}

#hover-text h1{
    font-family: 'Rampart One', cursive;
    font-size: 9vh;
    
}

#scroll-down-button span i {
    position: absolute;
    left: 50%;
    top: 85%;
}

#scroll-down-button-text {
    position: absolute;
    left: 47.5%;
    top: 92%;
    display: none;
}

#home-image-section2{
    height: 90vh;
}

#section2-desc {
    font-size: small;
}

.donate-button {
   border: none;
   background-color: #afd161;
   padding-top:10px;
   padding-bottom: 10px;
   padding-left: 25px;
   padding-right: 25px;
   margin-top: 15px;
   margin-left: 60%;
   border-radius: 10px;
   font-family: 'Play', sans-serif;
   font-size: 15px;
}

.donate-button:hover{
    box-shadow: 0 5px 15px rgba(18, 14, 20, 0.4);
    
}

#section2 div div img{
    height: 90vh;
    background-attachment: fixed;;
}

#section3 div div img{
    height: 30vh;
    width: 45vh;
}

#section3 div div span{
    color:rgba(0, 0, 0, 0.5);
    font-size: 14px;; 
}

table {
display: block;
max-height: 55vh;
overflow: auto;
}
